In [104]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter
import datetime

In [105]:
df_can = pd.read_csv(r"D:\HACKTIV\Tugas HACTIV\FOLDER HAKCTIV\nyc-rolling-sales.csv")
df_can.head()

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,...,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
1,5,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,...,28,3,31,4616,18690,1900,2,C7,-,2016-12-14 00:00:00
2,6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,...,16,1,17,2212,7803,1900,2,C7,-,2016-12-09 00:00:00
3,7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,...,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
4,8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,...,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00

In [106]:
df_can.shape

(84548, 22)

# Pengelohan data

In [107]:
df_can['SALE PRICE'] = [int(price) if price.isdigit() else -1 for price in df_can['SALE PRICE']]
df_can['LAND SQUARE FEET'] = [int(size) if size.isdigit() else -1 for size in df_can['LAND SQUARE FEET']]
df_can['GROSS SQUARE FEET'] = [int(size) if size.isdigit() else -1 for size in df_can['GROSS SQUARE FEET']]

In [108]:
from collections import Counter

col = 'TAX CLASS AT PRESENT'
show = sorted(df_can[col].dropna().unique())

# show

In [109]:
df_can= df_can.drop(['Unnamed: 0', 'NEIGHBORHOOD', 'ADDRESS', 'BLOCK', 'LOT', 'EASE-MENT', 'APARTMENT NUMBER'], axis=1)

In [110]:
months = ['January', 'February', 'March', 'April','May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

df_can['YEAR SOLD'] = [int(n[0:4]) for n in df_can['SALE DATE']]
df_can['MONTH SOLD'] = [int(n[5:7]) for n in df_can['SALE DATE']]
df_can['MONTH AND YEAR'] = [months[month - 1] + ' ' + str(year - 2000) for month, year in zip(df_can['MONTH SOLD'], df_can['YEAR SOLD'])]

df_can['PRICE / SQFT'] = [price / sqft if price > -1 and sqft > 0 else -1 for price, sqft in zip(df_can['SALE PRICE'] , df_can['GROSS SQUARE FEET'])]
sorted(df_can['MONTH SOLD'].unique())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

# Menghitung Mean

In [111]:
counts_p_year = [sum(df_can['YEAR SOLD'] == 2016), sum(df_can['YEAR SOLD'] == 2017)]

In [112]:
data = {'Tahun': [2016, 2017], 'Jumlah Penjualan': counts_p_year}
df_menghitung = pd.DataFrame(data)

mean_sales = df_menghitung['Jumlah Penjualan'].mean()

df_menghitung.loc[len(df_menghitung)] = ['Rata-rata', mean_sales]

print(df_menghitung)

       Tahun  Jumlah Penjualan
0       2016           29493.0
1       2017           55055.0
2  Rata-rata           42274.0

# Menghitung Median

In [113]:
median_by_category = df_can.groupby('BUILDING CLASS CATEGORY')[['RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS']].median().reset_index()

median_by_category.columns = ['BUILDING CLASS CATEGORY', 'Median RESIDENTIAL UNITS', 'Median COMMERCIAL UNITS', 'Median TOTAL UNITS']

print(median_by_category)

                         BUILDING CLASS CATEGORY  Median RESIDENTIAL UNITS  \
0    01 ONE FAMILY DWELLINGS                                           1.0
1    02 TWO FAMILY DWELLINGS                                           2.0
2    03 THREE FAMILY DWELLINGS                                         3.0
3    04 TAX CLASS 1 CONDOS                                             1.0
4    05 TAX CLASS 1 VACANT LAND                                        0.0
5    06 TAX CLASS 1 - OTHER                                            0.0
6    07 RENTALS - WALKUP APARTMENTS                                    6.0
7    08 RENTALS - ELEVATOR APARTMENTS                                 48.0
8    09 COOPS - WALKUP APARTMENTS                                      0.0
9    10 COOPS - ELEVATOR APARTMENTS                                    0.0
10   11 SPECIAL CONDO BILLING LOTS                                     0.0
11  11A CONDO-RENTALS                                                 11.0
12   12 CONDOS - WALKUP APARTMENTS                                     1.0
13   13 CONDOS - ELEVATOR APARTMENTS                                   1.0
14   14 RENTALS - 4-10 UNIT                                            4.0
15   15 CONDOS - 2-10 UNIT RESIDENTIAL                                 1.0
16   16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT                        0.0
17   17 CONDO COOPS                                                    0.0
18   18 TAX CLASS 3 - UNTILITY PROPERTIES                              0.0
19   21 OFFICE BUILDINGS                                               0.0
20   22 STORE BUILDINGS                                                0.0
21   23 LOFT BUILDINGS                                                 0.0
22   25 LUXURY HOTELS                                                  0.0
23   26 OTHER HOTELS                                                   0.0
24   27 FACTORIES                                                      0.0
25   28 COMMERCIAL CONDOS                                              0.0
26   29 COMMERCIAL GARAGES                                             0.0
27   30 WAREHOUSES                                                     0.0
28   31 COMMERCIAL VACANT LAND                                         0.0
29   32 HOSPITAL AND HEALTH FACILITIES                                 0.0
30   33 EDUCATIONAL FACILITIES                                         0.0
31   34 THEATRES                                                       0.0
32   35 INDOOR PUBLIC AND CULTURAL FACILITIES                          0.0
33   36 OUTDOOR RECREATIONAL FACILITIES                                0.0
34   37 RELIGIOUS FACILITIES                                           0.0
35   38 ASYLUMS AND HOMES                                              0.0
36   39 TRANSPORTATION FACILITIES                                      0.0
37   40 SELECTED GOVERNMENTAL FACILITIES                               0.0
38   41 TAX CLASS 4 - OTHER                                            0.0
39   42 CONDO CULTURAL/MEDICAL/EDUCATIONAL/ETC                         0.0
40   43 CONDO OFFICE BUILDINGS                                         0.0
41   44 CONDO PARKING                                                  0.0
42   45 CONDO HOTELS                                                   0.0
43   46 CONDO STORE BUILDINGS                                          0.0
44   47 CONDO NON-BUSINESS STORAGE                                     0.0
45   48 CONDO TERRACES/GARDENS/CABANAS                                 0.0
46   49 CONDO WAREHOUSES/FACTORY/INDUS                                 0.0

    Median COMMERCIAL UNITS  Median TOTAL UNITS
0                       0.0                 1.0
1                       0.0                 2.0
2                       0.0                 3.0
3                       0.0                 1.0
4                       0.0                 0.0
5                       0.0                 0.0
6                       0.0                 6.0
7                       0.0                48.0
8                       0.0                 0.0
9                       0.0                 0.0
10                      0.0                 0.0
11                      0.0                12.0
12                      0.0                 1.0
13                      0.0                 1.0
14                      1.0                 5.0
15                      0.0                 1.0
16                      1.0                 1.0
17                      0.0                 0.0
18                      0.0                 0.0
19                      2.0                 2.0
20                      2.0                 2.0
21                      5.5                 6.0
22                      1.0                 1.0
23                      2.0                 2.0
24                      1.0                 1.0
25                      1.0                 1.0
26                      1.0                 1.0
27                      1.0                 1.0
28                      0.0                 0.0
29                      1.0                 1.0
30                      1.0                 1.0
31                      2.0                 2.5
32                      1.0                 1.0
33                      0.0                 0.0
34                      1.0                 1.0
35                      1.0                 2.0
36                      0.0                 0.0
37                      1.0                 1.0
38                      0.0                 0.0
39                      0.0                 1.0
40                      0.0                 1.0
41                      0.0                 1.0
42                      0.0                 1.0
43                      0.0                 1.0
44                      0.0                 1.0
45                      0.0                 1.0
46                      0.0                 1.0

# Menghitung Modus

In [114]:
unit_s_by_category = df_can.groupby('BUILDING CLASS CATEGORY')[['RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS']].mean()

modus_by_category = df_can.groupby('BUILDING CLASS CATEGORY')[['RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS']].agg(lambda x: x.mode().iloc[0])

modus_by_category.columns = ['Modus RESIDENTIAL UNITS', 'Modus COMMERCIAL UNITS', 'Modus TOTAL UNITS']

result = pd.concat([unit_s_by_category, modus_by_category], axis=1)

print(result)

                                              RESIDENTIAL UNITS  \
BUILDING CLASS CATEGORY
01 ONE FAMILY DWELLINGS                                1.001097
02 TWO FAMILY DWELLINGS                                1.999747
03 THREE FAMILY DWELLINGS                              2.996578
04 TAX CLASS 1 CONDOS                                  0.983696
05 TAX CLASS 1 VACANT LAND                             0.184295
06 TAX CLASS 1 - OTHER                                 0.148352
07 RENTALS - WALKUP APARTMENTS                        11.303808
08 RENTALS - ELEVATOR APARTMENTS                      80.641361
09 COOPS - WALKUP APARTMENTS                           0.432237
10 COOPS - ELEVATOR APARTMENTS                         0.975508
11 SPECIAL CONDO BILLING LOTS                          0.000000
11A CONDO-RENTALS                                     60.418605
12 CONDOS - WALKUP APARTMENTS                          1.000000
13 CONDOS - ELEVATOR APARTMENTS                        0.960967
14 RENTALS - 4-10 UNIT                                 3.877794
15 CONDOS - 2-10 UNIT RESIDENTIAL                      0.954723
16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT             0.000000
17 CONDO COOPS                                         0.155704
18 TAX CLASS 3 - UNTILITY PROPERTIES                   0.000000
21 OFFICE BUILDINGS                                    0.242857
22 STORE BUILDINGS                                     0.485561
23 LOFT BUILDINGS                                      0.434783
25 LUXURY HOTELS                                      44.083333
26 OTHER HOTELS                                        3.833333
27 FACTORIES                                           0.164179
28 COMMERCIAL CONDOS                                   0.000000
29 COMMERCIAL GARAGES                                  0.028961
30 WAREHOUSES                                          0.015337
31 COMMERCIAL VACANT LAND                              0.453564
32 HOSPITAL AND HEALTH FACILITIES                      4.220339
33 EDUCATIONAL FACILITIES                              0.086957
34 THEATRES                                            0.083333
35 INDOOR PUBLIC AND CULTURAL FACILITIES               0.093750
36 OUTDOOR RECREATIONAL FACILITIES                     0.000000
37 RELIGIOUS FACILITIES                                0.210000
38 ASYLUMS AND HOMES                                  17.360000
39 TRANSPORTATION FACILITIES                           0.000000
40 SELECTED GOVERNMENTAL FACILITIES                    0.000000
41 TAX CLASS 4 - OTHER                                 0.069620
42 CONDO CULTURAL/MEDICAL/EDUCATIONAL/ETC              0.000000
43 CONDO OFFICE BUILDINGS                              0.000000
44 CONDO PARKING                                       0.002082
45 CONDO HOTELS                                        0.000000
46 CONDO STORE BUILDINGS                               0.000000
47 CONDO NON-BUSINESS STORAGE                          0.000000
48 CONDO TERRACES/GARDENS/CABANAS                      0.000000
49 CONDO WAREHOUSES/FACTORY/INDUS                      0.000000

                                              COMMERCIAL UNITS  TOTAL UNITS  \
BUILDING CLASS CATEGORY
01 ONE FAMILY DWELLINGS                               0.021826     1.022649
02 TWO FAMILY DWELLINGS                               0.050796     2.050227
03 THREE FAMILY DWELLINGS                             0.000684     2.996578
04 TAX CLASS 1 CONDOS                                 0.000604     0.984300
05 TAX CLASS 1 VACANT LAND                            0.012019     0.196314
06 TAX CLASS 1 - OTHER                                0.016484     0.164835
07 RENTALS - WALKUP APARTMENTS                        0.233987    11.537507
08 RENTALS - ELEVATOR APARTMENTS                      0.979058    81.620419
09 COOPS - WALKUP APARTMENTS                          0.002168     0.434405
10 COOPS - ELEVATOR APARTMENTS                        0.007053     0.982561
11 SPECIAL CONDO BILLING LOTS                         0.000000     0.000000
11A CONDO-RENTALS                                     0.116279    60.581395
12 CONDOS - WALKUP APARTMENTS                         0.000000     1.000000
13 CONDOS - ELEVATOR APARTMENTS                       0.000000     0.961044
14 RENTALS - 4-10 UNIT                                1.469449     5.345753
15 CONDOS - 2-10 UNIT RESIDENTIAL                     0.000000     0.954723
16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT            0.979167     0.979167
17 CONDO COOPS                                        0.000000     0.155704
18 TAX CLASS 3 - UNTILITY PROPERTIES                  0.000000     0.000000
21 OFFICE BUILDINGS                                   6.382857     6.585714
22 STORE BUILDINGS                                    2.713369     3.195722
23 LOFT BUILDINGS                                     6.217391     6.652174
25 LUXURY HOTELS                                     63.166667   107.250000
26 OTHER HOTELS                                      22.315789    26.070175
27 FACTORIES                                          1.567164     1.726368
28 COMMERCIAL CONDOS                                  0.700000     1.000000
29 COMMERCIAL GARAGES                                 0.805792     0.834753
30 WAREHOUSES                                         1.414110     1.429448
31 COMMERCIAL VACANT LAND                             1.064795     1.518359
32 HOSPITAL AND HEALTH FACILITIES                     1.288136     5.508475
33 EDUCATIONAL FACILITIES                            33.898551    33.942029
34 THEATRES                                           3.750000     3.833333
35 INDOOR PUBLIC AND CULTURAL FACILITIES              1.062500     1.125000
36 OUTDOOR RECREATIONAL FACILITIES                    0.071429     0.071429
37 RELIGIOUS FACILITIES                               0.900000     1.070000
38 ASYLUMS AND HOMES                                  1.160000    18.480000
39 TRANSPORTATION FACILITIES                          0.000000     0.000000
40 SELECTED GOVERNMENTAL FACILITIES                   1.000000     1.000000
41 TAX CLASS 4 - OTHER                                0.189873     0.259494
42 CONDO CULTURAL/MEDICAL/EDUCATIONAL/ETC             0.000000     0.923077
43 CONDO OFFICE BUILDINGS                             0.002105     0.981053
44 CONDO PARKING                                      0.002776     0.934074
45 CONDO HOTELS                                       0.000000     1.000000
46 CONDO STORE BUILDINGS                              0.006494     0.987013
47 CONDO NON-BUSINESS STORAGE                         0.000000     0.931034
48 CONDO TERRACES/GARDENS/CABANAS                     0.000000     1.000000
49 CONDO WAREHOUSES/FACTORY/INDUS                     0.000000     1.000000

                                              Modus RESIDENTIAL UNITS  \
BUILDING CLASS CATEGORY
01 ONE FAMILY DWELLINGS                                             1
02 TWO FAMILY DWELLINGS                                             2
03 THREE FAMILY DWELLINGS                                           3
04 TAX CLASS 1 CONDOS                                               1
05 TAX CLASS 1 VACANT LAND                                          0
06 TAX CLASS 1 - OTHER                                              0
07 RENTALS - WALKUP APARTMENTS                                      4
08 RENTALS - ELEVATOR APARTMENTS                                   35
09 COOPS - WALKUP APARTMENTS                                        0
10 COOPS - ELEVATOR APARTMENTS                                      0
11 SPECIAL CONDO BILLING LOTS                                       0
11A CONDO-RENTALS                                                   1
12 CONDOS - WALKUP APARTMENTS                                       1
13 CONDOS - ELEVATOR APARTMENTS                                     1
14 RENTALS - 4-10 UNIT                                              3
15 CONDOS - 2-10 UNIT RESIDENTIAL                                   1
16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT                          0
17 CONDO COOPS                                                      0
18 TAX CLASS 3 - UNTILITY PROPERTIES                                0
21 OFFICE BUILDINGS                                                 0
22 STORE BUILDINGS                                                  0
23 LOFT BUILDINGS                                                   0
25 LUXURY HOTELS                                                    0
26 OTHER HOTELS                                                     0
27 FACTORIES                                                        0
28 COMMERCIAL CONDOS                                                0
29 COMMERCIAL GARAGES                                               0
30 WAREHOUSES                                                       0
31 COMMERCIAL VACANT LAND                                           0
32 HOSPITAL AND HEALTH FACILITIES                                   0
33 EDUCATIONAL FACILITIES                                           0
34 THEATRES                                                         0
35 INDOOR PUBLIC AND CULTURAL FACILITIES                            0
36 OUTDOOR RECREATIONAL FACILITIES                                  0
37 RELIGIOUS FACILITIES                                             0
38 ASYLUMS AND HOMES                                                0
39 TRANSPORTATION FACILITIES                                        0
40 SELECTED GOVERNMENTAL FACILITIES                                 0
41 TAX CLASS 4 - OTHER                                              0
42 CONDO CULTURAL/MEDICAL/EDUCATIONAL/ETC                           0
43 CONDO OFFICE BUILDINGS                                           0
44 CONDO PARKING                                                    0
45 CONDO HOTELS                                                     0
46 CONDO STORE BUILDINGS                                            0
47 CONDO NON-BUSINESS STORAGE                                       0
48 CONDO TERRACES/GARDENS/CABANAS                                   0
49 CONDO WAREHOUSES/FACTORY/INDUS                                   0

                                              Modus COMMERCIAL UNITS  \
BUILDING CLASS CATEGORY
01 ONE FAMILY DWELLINGS                                            0
02 TWO FAMILY DWELLINGS                                            0
03 THREE FAMILY DWELLINGS                                          0
04 TAX CLASS 1 CONDOS                                              0
05 TAX CLASS 1 VACANT LAND                                         0
06 TAX CLASS 1 - OTHER                                             0
07 RENTALS - WALKUP APARTMENTS                                     0
08 RENTALS - ELEVATOR APARTMENTS                                   0
09 COOPS - WALKUP APARTMENTS                                       0
10 COOPS - ELEVATOR APARTMENTS                                     0
11 SPECIAL CONDO BILLING LOTS                                      0
11A CONDO-RENTALS                                                  0
12 CONDOS - WALKUP APARTMENTS                                      0
13 CONDOS - ELEVATOR APARTMENTS                                    0
14 RENTALS - 4-10 UNIT                                             1
15 CONDOS - 2-10 UNIT RESIDENTIAL                                  0
16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT                         1
17 CONDO COOPS                                                     0
18 TAX CLASS 3 - UNTILITY PROPERTIES                               0
21 OFFICE BUILDINGS                                                1
22 STORE BUILDINGS                                                 1
23 LOFT BUILDINGS                                                  1
25 LUXURY HOTELS                                                   1
26 OTHER HOTELS                                                    2
27 FACTORIES                                                       1
28 COMMERCIAL CONDOS                                               1
29 COMMERCIAL GARAGES                                              0
30 WAREHOUSES                                                      1
31 COMMERCIAL VACANT LAND                                          0
32 HOSPITAL AND HEALTH FACILITIES                                  1
33 EDUCATIONAL FACILITIES                                          1
34 THEATRES                                                        1
35 INDOOR PUBLIC AND CULTURAL FACILITIES                           1
36 OUTDOOR RECREATIONAL FACILITIES                                 0
37 RELIGIOUS FACILITIES                                            1
38 ASYLUMS AND HOMES                                               1
39 TRANSPORTATION FACILITIES                                       0
40 SELECTED GOVERNMENTAL FACILITIES                                1
41 TAX CLASS 4 - OTHER                                             0
42 CONDO CULTURAL/MEDICAL/EDUCATIONAL/ETC                          0
43 CONDO OFFICE BUILDINGS                                          0
44 CONDO PARKING                                                   0
45 CONDO HOTELS                                                    0
46 CONDO STORE BUILDINGS                                           0
47 CONDO NON-BUSINESS STORAGE                                      0
48 CONDO TERRACES/GARDENS/CABANAS                                  0
49 CONDO WAREHOUSES/FACTORY/INDUS                                  0

                                              Modus TOTAL UNITS
BUILDING CLASS CATEGORY
01 ONE FAMILY DWELLINGS                                       1
02 TWO FAMILY DWELLINGS                                       2
03 THREE FAMILY DWELLINGS                                     3
04 TAX CLASS 1 CONDOS                                         1
05 TAX CLASS 1 VACANT LAND                                    0
06 TAX CLASS 1 - OTHER                                        0
07 RENTALS - WALKUP APARTMENTS                                4
08 RENTALS - ELEVATOR APARTMENTS                             36
09 COOPS - WALKUP APARTMENTS                                  0
10 COOPS - ELEVATOR APARTMENTS                                0
11 SPECIAL CONDO BILLING LOTS                                 0
11A CONDO-RENTALS                                             1
12 CONDOS - WALKUP APARTMENTS                                 1
13 CONDOS - ELEVATOR APARTMENTS                               1
14 RENTALS - 4-10 UNIT                                        4
15 CONDOS - 2-10 UNIT RESIDENTIAL                             1
16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT                    1
17 CONDO COOPS                                                0
18 TAX CLASS 3 - UNTILITY PROPERTIES                          0
21 OFFICE BUILDINGS                                           1
22 STORE BUILDINGS                                            1
23 LOFT BUILDINGS                                             6
25 LUXURY HOTELS                                              1
26 OTHER HOTELS                                               2
27 FACTORIES                                                  1
28 COMMERCIAL CONDOS                                          1
29 COMMERCIAL GARAGES                                         0
30 WAREHOUSES                                                 1
31 COMMERCIAL VACANT LAND                                     0
32 HOSPITAL AND HEALTH FACILITIES                             1
33 EDUCATIONAL FACILITIES                                     1
34 THEATRES                                                   1
35 INDOOR PUBLIC AND CULTURAL FACILITIES                      1
36 OUTDOOR RECREATIONAL FACILITIES                            0
37 RELIGIOUS FACILITIES                                       1
38 ASYLUMS AND HOMES                                          1
39 TRANSPORTATION FACILITIES                                  0
40 SELECTED GOVERNMENTAL FACILITIES                           1
41 TAX CLASS 4 - OTHER                                        0
42 CONDO CULTURAL/MEDICAL/EDUCATIONAL/ETC                     1
43 CONDO OFFICE BUILDINGS                                     1
44 CONDO PARKING                                              1
45 CONDO HOTELS                                               1
46 CONDO STORE BUILDINGS                                      1
47 CONDO NON-BUSINESS STORAGE                                 1
48 CONDO TERRACES/GARDENS/CABANAS                             1
49 CONDO WAREHOUSES/FACTORY/INDUS                             1

In [115]:
df_can.head()

,BOROUGH,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BUILDING CLASS AT PRESENT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,YEAR SOLD,MONTH SOLD,MONTH AND YEAR,PRICE / SQFT
0,1,07 RENTALS - WALKUP APARTMENTS,2A,C2,10009,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00,2017,7,July 17,1028.726708
1,1,07 RENTALS - WALKUP APARTMENTS,2,C7,10009,28,3,31,4616,18690,1900,2,C7,-1,2016-12-14 00:00:00,2016,12,December 16,-1.000000
2,1,07 RENTALS - WALKUP APARTMENTS,2,C7,10009,16,1,17,2212,7803,1900,2,C7,-1,2016-12-09 00:00:00,2016,12,December 16,-1.000000
3,1,07 RENTALS - WALKUP APARTMENTS,2B,C4,10009,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00,2016,9,September 16,579.374742
4,1,07 RENTALS - WALKUP APARTMENTS,2A,C2,10009,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00,2016,11,November 16,1733.477790

In [116]:
# Menghitung variance dari kolom 'SALE PRICE'
variance_sale_price = df_can['SALE PRICE'].var()

# Membuat DataFrame untuk output
output_data = {'Deskripsi': ['Variance SALE PRICE'], 'Nilai': [variance_sale_price]}
df_output = pd.DataFrame(output_data)

print(df_output)

             Deskripsi         Nilai
0  Variance SALE PRICE  1.079093e+14

# Range

In [117]:
# Mencari tanggal minimum dan maksimum dari kolom 'SALE DATE'
tanggal_min = df_can['SALE DATE'].min()
tanggal_max = df_can['SALE DATE'].max()

# Membuat DataFrame untuk output
output_data = {'Deskripsi': ['Tanggal Penjualan Terendah', 'Tanggal Penjualan Tertinggi'],'Nilai': [tanggal_min, tanggal_max]}
df_output = pd.DataFrame(output_data)

print(df_output)

                     Deskripsi                Nilai
0   Tanggal Penjualan Terendah  2016-09-01 00:00:00
1  Tanggal Penjualan Tertinggi  2017-08-31 00:00:00

# Standard Deviation

In [118]:
# Mengelompokkan data berdasarkan kolom 'BOROUGH'
grouped_by_borough = df_can.groupby('BOROUGH')['SALE PRICE']

# Menghitung Standard Deviation dari harga penjualan untuk setiap wilayah (BOROUGH)
standard_deviation_by_borough = grouped_by_borough.std().reset_index()

# Mengganti nama kolom agar lebih deskriptif
standard_deviation_by_borough.columns = ['BOROUGH', 'Standard Deviation SALE PRICE']

# Mencetak tabel Standard Deviation berdasarkan wilayah (BOROUGH)
print(standard_deviation_by_borough)

   BOROUGH  Standard Deviation SALE PRICE
0        1                   2.144490e+07
1        2                   2.783058e+06
2        3                   3.935813e+06
3        4                   2.707469e+06
4        5                   1.626386e+06

In [119]:
selected_columns = df_can[['BOROUGH', 'SALE DATE']]

print(selected_columns)

       BOROUGH            SALE DATE
0            1  2017-07-19 00:00:00
1            1  2016-12-14 00:00:00
2            1  2016-12-09 00:00:00
3            1  2016-09-23 00:00:00
4            1  2016-11-17 00:00:00
...        ...                  ...
84543        5  2016-11-28 00:00:00
84544        5  2017-04-21 00:00:00
84545        5  2017-07-05 00:00:00
84546        5  2016-12-21 00:00:00
84547        5  2016-10-27 00:00:00

[84548 rows x 2 columns]

In [129]:
# Mengelompokkan data berdasarkan kolom 'BOROUGH'
grouped_by_borough = df_can.groupby('BOROUGH_1')['SALE PRICE']

# Menghitung Standard Deviation dari harga penjualan untuk setiap wilayah (BOROUGH)
standard_deviation_by_borough = grouped_by_borough.std().reset_index()

# Mengganti nama kolom agar lebih deskriptif
standard_deviation_by_borough.columns = ['BOROUGH_1', 'Standard Deviation SALE PRICE']

# Mencetak tabel Standard Deviation berdasarkan wilayah (BOROUGH)
print(standard_deviation_by_borough)

   BOROUGH_1  Standard Deviation SALE PRICE
0      False                   3.125720e+06
1       True                   2.144490e+07

# Processing

In [120]:
mean_sale_price = df_can['SALE PRICE'].mean()
df_can['SALE PRICE'].fillna(mean_sale_price, inplace=True)

# 2. Pengkodean Data Kategori
df_can = pd.get_dummies(df_can, columns=['BOROUGH'], prefix='BOROUGH')

# 3. Normalisasi
min_land_square_feet = df_can['LAND SQUARE FEET'].min()
max_land_square_feet = df_can['LAND SQUARE FEET'].max()
df_can['LAND SQUARE FEET'] = (df_can['LAND SQUARE FEET'] - min_land_square_feet) / (max_land_square_feet - min_land_square_feet)

# 4. Penyederhanaan Data
selected_columns = ['SALE PRICE', 'BOROUGH_1', 'BOROUGH_2', 'BOROUGH_3', 'BOROUGH_4', 'BOROUGH_5', 'LAND SQUARE FEET']
df_can = df_can[selected_columns]

# Hypothesis Testing

In [124]:
import scipy.stats as stats

# Filter data untuk wilayah Manhattan (BOROUGH 1) dan Brooklyn (BOROUGH 3)
manhattan_data = df_can[df_can['BOROUGH_1'] == 1]['SALE PRICE']
brooklyn_data = df_can[df_can['BOROUGH_3'] == 3]['SALE PRICE']

# Melakukan uji t independen untuk membandingkan dua sampel
# Ini menguji hipotesis bahwa rata-rata harga penjualan di Manhattan dan Brooklyn berbeda.
t_stat, p_value = stats.ttest_ind(manhattan_data, brooklyn_data, equal_var=False)

# Tingkat signifikansi (alpha)
alpha = 0.05

# Mencetak hasil uji t
print(f"Nilai t-statistic: {t_stat}")
print(f"Nilai p-value: {p_value}")

# Melakukan pengujian hipotesis dengan tingkat signifikansi alpha
if p_value < alpha:
    print("Hipotesis nol (H0) ditolak: Terdapat perbedaan yang signifikan antara rata-rata harga penjualan di Manhattan dan Brooklyn.")
else:
    print("Hipotesis nol (H0) tidak dapat ditolak: Tidak ada perbedaan yang signifikan antara rata-rata harga penjualan di Manhattan dan Brooklyn.")

Nilai t-statistic: nan
Nilai p-value: nan
Hipotesis nol (H0) tidak dapat ditolak: Tidak ada perbedaan yang signifikan antara rata-rata harga penjualan di Manhattan dan Brooklyn.